<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppName" value="LDSFileService" />
    <add key="AuthType" value="windows" />
    <add key="ServerName" value="localhost" />
    <add key="NamespaceName" value="LDS" />
    <add key="SharedFolderName" value="LDS" />

    <add key="smtp" value="mail.petroinfotech.com"/>
    <add key="hostname" value="localhost"/>

    <!--This is to check whether mail requireds authentication-->
    <add key="MailAuth" value="1"/>
    <add key="NetworkUserId" value="dev.petroinfotech@gmail.com"/>
    <add key="NetworkUserPwd" value="PetroDevelopers09"/>

  </appSettings>
  <system.web>
    <authentication mode="Windows">
    </authentication>
    <identity impersonate="false" password="petro123*" userName="petro.com\jaseel" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="12347851" executionTimeout="180"/>
  </system.web>
  <connectionStrings>
    <remove name="DbLDS"/>
    <add name="DbLDS" connectionString="Data Source=petrodb;User ID=lds_new;Password=lds_new;" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
